<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="../css/login.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <div class="container">
        <h2>Iniciar Sesión</h2>
        <form id="loginForm">
            <label for="email">Correo Electrónico:</label> <!-- Cambiado "correo" a "email" -->
            <input type="email" id="email" placeholder="correo@ejemplo.com" required> <!-- ID corregido -->

            <label for="password">Contraseña:</label>
            <input type="password" id="password" placeholder="Ingresa tu contraseña" required>
            <a href="cambiarcon">Olvidates tu contraseña? </a>

            <div class="g-recaptcha" data-sitekey="6Ld4etoqAAAAAHp62jCa5f3JzZOBW7IjhOGuq2Dh"></div>

            <button type="submit">Ingresar</button>
        </form>
        <div class="registro-link">
            <a href="./formulario">Regístrate aquí</a>
        </div>
    </div>

    <script src="../js/auth.js"></script>
</body>
</html>